# Django
Django==4.2.10
django-cors-headers==4.3.1
django-filter==23.5
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
django-allauth==0.61.1
channels==4.0.0
channels-redis==4.2.0

# Database
psycopg2-binary==2.9.9
pgvector==0.2.4

# Storage
minio

# AI/ML
langchain>=0.0.10
langchain-openai>=0.0.2
langchain-community>=0.0.2
openai>=1.55.3
pydantic>=2.10.3
typing-extensions>=4.11,<5.0

# Utils
python-environ==0.4.54
uvicorn==0.27.1
drf-spectacular==0.27.1
logfire
